<div class="mx-auto max-w-lg px-4 text-center mt-12">
  <div class="bg-neutral-700 rounded-xl shadow-md">
    <div class="p-6">
      <img
        src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/047.png"
        class="mx-auto w-40 h-40 object-contain"
        alt="Rondoudou"
      />
      <h2 class="mt-4 text-2xl font-bold">Hey, cette page n'existe pas !</h2>
      <a
        routerLink="/pokemon"
        class="text-[--primary] hover:underline focus:outline-none font-semibold mt-6 inline-block"
      >
        Retourner à l'accueil
      </a>
    </div>
  </div>
</div>
